{% set monit_app = salt.grains.filter_by({
    'default': {
        'pkg': 'monit',
        'service': 'monit',
        'conf_file': '/etc/monit/monitrc',
        'config_includes': '/etc/monit/conf.d',
        'http_access': {
            'port': 2812,
            'bind': '127.0.0.1',
            'allowed': {
              'users': ['monit:pass'],
              'hosts': ['localhost']
            },
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('monit_app'), base='default') %}
